:root {
  --content-width: 75rem;
  --color-text: red;
  --border-radius-hero: 40px;
  font-family: "Lato";
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(1fr var(--content-width) 1fr);
}

article {
  background: red;
}

h1 {
  font-family: "Lato";
}

h2 {
  font-size: 2rem;
  font-color: blue;
}
