---
import Card from "../components/Card.astro";
import NavBar from "../components/NavBar.astro";
import AboutHero from "../components/AboutHero.astro";
import OurVision from "../components/OurVision.astro";
import Footer from "../components/Footer.astro";
import Base from "../layouts/Base.astro";
import CoreValues from "../components/CoreValues.astro";
import OurHistory from "../components/OurHistory.astro";
import OurTeam from "../components/OurTeam.astro";
import BetterConsult from "../components/BetterConsult.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/global.css" />
  </head>
  <body>
    <header><NavBar /></header>

    <main>
      <AboutHero />
      <div class="main-content">
        <div class="background-white">
        <OurVision />
</div>
        <CoreValues />
<div class="background-white">
        <OurHistory />
</div>
        <OurTeam />
        <div class="background-white">
          <BetterConsult />
        </div>
      </div>
    </main>

    <footer><Footer /></footer>
  </body>
</html>

<style>
  main {
    background-color: #f5f5f5;
  }
 

 
  .background-white {
    background-color: #FFF;
  }
</style>
