---
import styles from "../../styles/global.css";
---

<div class="hero">
  <div class="hero-bg-img">
    <div class="hero-info-container">
      <h2>Services</h2>
      <p>Creative Services For Boost Your Business Growth</p>
    </div>
  </div>
</div>

<style>
  .hero {
  }

  .hero-info-container {
    display: grid;

    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5); /* Red color with 50% opacity */

    max-width: 350px;
    border-radius: var(--border-radius-hero);
  }

  .hero-bg-img {
    background: url("../imgs/7f605bfdf789dc3d9a8aca2013d44538.jpeg");
    background-size: cover;
    height: 50vw;
  }
</style>
