---
import Pill from "../components/Pill.astro";
import BigText from "../components/BigText.astro";

import { Image } from "astro:assets";
import Img1 from "../../src/imgs/img1.png";
import Img2 from "../../src/imgs/img2.png";
---


<section>
  <div class="background-container">
    <Pill title="Our history" color="green" />

    <BigText text="Better Consult, Better Results" />
    <p>
      Our software development agency has a growth up to 30% per each year. If
      you are result-oriented, not afraid to take initiative – drop us a note
      and join our team!
    </p>
    <button><img src="../../src/icons/phone.svg" alt="" />+800 1234 654</button>
  </div>

  <div class="img_container">
    <Image src={Img1} alt="img" />
    <Image src={Img2} alt="img" />
  </div>
</section>

<style>
  section {
    max-width: clamp(10rem, 80vw, 400rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #181818;
    margin: 4rem auto;
    border-radius: var(--border-radius-med);
  }

  .background-container {
    color: white;
    padding: 4rem;
  }

  .img_container img {
    max-width: clamp(10rem, 40vw, 400rem);
  }

  button {
    background: #ffcc4a;
    border: none;
    border-radius: var(--border-radius-med);
    padding: 0.5rem;
  }

  @media (max-width: 768px) {
    section {
      flex-direction: column;
      align-items: stretch;
    }

    .background-container {
      padding: 2rem;
    }
    .img_container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .img_container img {
      max-width: 80%;
      margin: 2rem;
    }
  }
</style>
