<div class="footer-container">
  <div class="footer-ask-experts">
    <img src="../../src/icons/askexpert.svg" alt="" />
    <p class="ask-experts">Ask Experts</p>
    <p>Tb. /Ig. /Tw. /Be.</p>
  </div>

  <div class="footer-menu">
    <div class="vertical_line"></div>

    <div class="footer-title">
      <p>Product</p>
      <div class="line"></div>
      <ul>
        <li>Service</li>
        <li>FAQ</li>
        <li>Single Service</li>
        <li>Get Quote</li>
        <li>Prices</li>
      </ul>
    </div>
    <div class="footer-title">
      <p>Product</p>
      <div class="line"></div>
      <ul>
        <li>About</li>
        <li>News</li>
        <li>Contacts</li>
        <li>Testimonials</li>
        <li>Our team</li>
        <li>Our approach</li>
      </ul>
    </div>

    <div class="footer-title-address">
      <p>Product</p>
      <div class="line"></div>
      <p>1700 W Blancke St, kiyev port <br />south USA, America</p>
    </div>
  </div>
</div>
<style>
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgba(24, 24, 24, 0.9);
    color: white;
    backdrop-filter: blur(21.5px);
    font-family: "Lato";
  }

  .line {
    position: relative;
    width: 50px;
    height: 2px;
    background-color: #ffcc4a;
    margin: 0 auto;
    align-self: left;
  }
  .footer-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 20px;
  }

  .footer-title {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
  }

  .footer-title-address {
    display: flex;
    flex-direction: column;
  }
</style>
