<div class="footer-container">
  <div class="footer-ask-experts">
    <img src="../../src/icons/askexpert.svg" alt="" />
    <p class="ask-experts">Ask Experts</p>
    <p>Tb. /Ig. /Tw. /Be.</p>
  </div>

  <div>
    <div class="vertical_line"></div>

    <p class="footer-title">Product</p>
    <ul>
      <li>Service</li>
      <li>FAQ</li>
      <li>Single Service</li>
      <li>Get Quote</li>
      <li>Prices</li>
    </ul>

    <p class="footer-title">Product</p>
    <ul>
      <li>About</li>
      <li>News</li>
      <li>Contacts</li>
      <li>Testimonials</li>
      <li>Our team</li>
      <li>Our approach</li>
    </ul>

    <p class="footer-title">Product</p>
    <p>1700 W Blancke St, kiyev port south USA, America</p>
  </div>
</div>

<style>
  .footer-container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgba(24, 24, 24, 0.9);
    color: white;
    backdrop-filter: blur(21.5px);
  }
</style>
