<div class="navbar">
  <div class="logo">
    <img src="../../src/icons/askexpert.svg" alt="" />
    <p class="ask_experts">AskExperts</p>
  </div>
  <ul class="nav-links">
    <li><a href="/">About</a></li>
    <li><a href="/caseStudySingle">Case Study</a></li>
    <li><a href="/serviceSingle">Service</a></li>
    <li><a href="/team">Team</a></li>
  </ul>
  <div class="phone-btn">
    <img src="../../src/icons/phoneyellow.svg" alt="" />
    <p>+(888) 452 1505</p>
  </div>
</div>

<style>
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1.2rem;
    font-family: "Lato";
    max-width: 100vw;
    margin: 0 auto;
  }

  .logo {
    display: flex;
    align-items: center;
    padding-left: 2rem;
  }

  .logo img {
    margin-right: 0.5rem;
  }

  .ask_experts {
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
  }

  .nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    margin-right: 2rem;
  }

  .nav-links li {
    margin-left: 1rem;
  }

  .nav-links li:first-child {
    margin-left: 0;
  }

  .nav-links li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
  }

  .nav-links li a:hover {
    color: green;
    text-decoration: dashed;
  }

  .phone-btn {
    display: flex;
    background-color: #fff;
    padding: 0.1rem 1rem;
    border-radius: 50px;
    margin-right: 2rem;
  }

  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      padding: 0.5rem;
    }

    .nav-links {
      margin-top: 1rem;
      justify-content: center;
      margin-right: 0;
      margin-bottom: 0.6rem;
    }

    .logo {
      margin-left: 0;
    }

    .phone-btn {
      display: flex;
      margin-top: 1rem;
      margin-right: 0;
      margin-bottom: 0.8rem;
    }
  }
</style>
