---
import Pill from "../components/Pill.astro";
import BigText from "../components/BigText.astro";
---

<section>
  <Pill title="Our history" color="green" />

  <BigText text="Better Website Means A User Experience" />
  <p>
    Ippsum is the result of synergy between our teams and our customers. Our
    company culture is focused on excellent productivity, customer satisfaction,
    respect for team and individual achievements.
  </p>

  <img class="better-website" src="../../src/imgs/betterwebsite.png" alt="" />
  <img src="../imgs/greenbox.png" />
</section>


<style>

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 20rem;
    padding: 5rem;
  }

.better-website {
    width: 100%;
    border-radius: var(--border-radius-med);
}

img {
  max-width: clamp(50rem, 2vw, 80rem);
  
}

</style>
