---
import Pill from "../components/Pill.astro";
import BigText from "../components/BigText.astro";
import ImgPattern2 from "../components/ImgPattern2.astro"
---

<section>

  <p></p>
  <Pill title="Our history" color="green" />

  <BigText text="Better Website Means A User Experience" />
  <p>
    Ippsum is the result of synergy between our teams and our customers. Our
    company culture is focused on excellent productivity, customer satisfaction,
    respect for team and individual achievements.
  </p>
 <ImgPattern2 />

  
</section>

<style>



  @layer {
    body {
      min-height: 100svh;
      font-family: system-ui, sans-serif;
      display: grid;
      place-content: center;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 20rem;
    padding: 5rem;
  }

  .better-website {
    width: 100%;
    border-radius: var(--border-radius-med);
  }

 
</style>
