---
import Pill from "../components/Pill.astro";
import BigText from "../components/BigText.astro";
import ProfileCard from "../components/ProfileCard.astro";
---

<section>
  <Pill title="Our team" color="yellow" />

  <BigText text="We champion the bold to achieve the extraordinary" />
  <p>
    Ippsum is the result of synergy between our teams and our customers. Our
    company culture is focused on excellent productivity, customer satisfaction,
    respect for team.
  </p>
  <div class="profile-cards">
    <ProfileCard title="Sarah Jasmine" img="src/imgs/sarah.png" />
    <ProfileCard title="John Carter" img="/john.png" />
    <ProfileCard title="Daisy Stella" img="/imgs/daisy.png" />
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    margin: 0rem 20rem;
  }
  .profile-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  @media (max-width: 768px) {
    .profile-cards {
      flex-direction: column;
    }

    section {
      display: flex;
      flex-direction: column;
      margin: 0rem 42rem;
    }
  }
</style>
