---
import Pill from "../components/Pill.astro";
import BigText from "../components/BigText.astro";
import SubText from "../components/SubText.astro";
import ImgPattern1 from "../components/ImgPattern1.astro";
---
<section>
<div class="our-vision">
  <div class="txt-container">
    <Pill title="Our vision" color="green" />
    <BigText text="Turn your ideas into reality" />
    <p class="undertext">
      Capitalize on low hanging fruit to identify a ballpark value added
      activity beta test. Override the digital divide with additional from
      DevOps.
    </p>

    <div class="check_txt">
      <img src="/src/icons/check.svg" alt="" /><p>
        Bring to the table win-win survival strategies to ensure proactive
        domination. At the end of the day.
      </p>
    </div>
    <div class="check_txt">
      <img src="/src/icons/check.svg" alt="" /><p>
        Capitalize on low hanging fruit to identify a ballpark value added
        activity to beta test override the digital.
      </p>
    </div>
  </div>

  <div class="img-container">
    <ImgPattern1 />
    <img src="" alt="" />
  </div>
</div>
</section>

<div class="sub-txt-container">
  <SubText number="1128+" title="Successful Work" />
  <SubText number="908+" title="Team member" />
  <SubText number="258+" title="Happy Customers" />
  <SubText number="564+" title="Creative Idea" />
</div>

<style>
section {
  margin: 0rem 8rem;
}

  
  p {
    font-family: "Lato";
    
  }
  .our-vision {
    max-width: fit-content;
    font-family: "Lato";
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #fff;
    width: 80%;
    border-radius: 20px;
    margin-bottom: 2rem;
    text-align: left;
    margin: 0rem 10rem;
    padding: clamp(1rem, 2vw,6rem);
  }

  .txt-container {
    max-width: fit-content;
    font-family: "Lato";
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 1rem 2rem;
    margin: 0rem 4rem;
  }

  .img-container {
    grid-column: 3 / span 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
  }

  .check_txt {
    display: flex;
    gap: 1.3rem;
  }

  .sub-txt-container {
    font-family: "Lato";
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    border-radius: var(--border-radius-hero);
  }

  @media (max-width: 768px) {
    .our-vision {
      grid-template-columns: 1fr; 
    }

    .txt-container {
      grid-column: 1; 
      grid-row: 1; 
      margin: 0 20rem;
    }

    .img-container {
      grid-column: 1; 
      grid-row: 2; 
      margin-top: 2rem; 
    }
  }
</style>
