<section class="our-vision">
  <div class="txt-container">
    <h2 class="pill">Our vision</h2>
    <p class="big-txt">Turn your ideas into reality.</p>
    <p class="undertext">
      Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide
      with additional from DevOps.
    </p>

    <div class="check_txt">
      <img src="../../src/icons/check.svg" alt="" /><p>
        Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day.
      </p>
    </div>
    <div class="check_txt">
      <img src="../../src/icons/check.svg" alt="" /><p>
        Capitalize on low hanging fruit to identify a ballpark value added activity to beta test override the digital.
      </p>
    </div>
  </div>

  <div class="img-container">
    <!--<img src="../../src/imgs/pattern.svg" alt=""> -->
    <img src="../../src/imgs/threepeople.png" alt="" />
  </div>
</section>

<div class="sub-txt-container">
  <div class="sub-txt">
    <p class="number">1128+</p>
    <p class="small-text">Successful Work</p>
  </div>

  <div class="sub-txt">
    <p class="number">1128+</p>
    <p class="small-text">Successful Work</p>
  </div>

  <div class="sub-txt">
    <p class="number">1128+</p>
    <p class="small-text">Successful Work</p>
  </div>

  <div class="sub-txt">
    <p class="number">1128+</p>
    <p class="small-text">Successful Work</p>
  </div>
</div>

<section class="core_values">
  <div class="core-txt-container">
    <h2 class="pill">GROWING WITH OUR CLIENTS</h2>
    <p class="sub-txt">Our core values & principles</p>
    <p class="undertext">
      Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide
      with additional from DevOps.
    </p>
  </div>
  <div class="core-big-container">
    <div class="core-container">
      <img src="" alt="" class="black-logo" />
      <p class="bold-txt">Creative Ideas</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget accumsan augue Donec aliquam.</p>
      <div class="read-more-container"><p class="readmore">Read More</p><img src="" alt="" class="arrow-logo" /></div>
    </div>

    <div class="core-container">
      <img src="" alt="" class="black-logo" />
      <p class="bold-txt">Creative Ideas</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget accumsan augue Donec aliquam.</p>
      <div class="read-more-container"><p class="readmore">Read More</p><img src="" alt="" class="arrow-logo" /></div>
    </div>

    <div class="core-container">
      <img src="" alt="" class="black-logo" />
      <p class="bold-txt">Creative Ideas</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget accumsan augue Donec aliquam.</p>
      <div class="read-more-container"><p class="readmore">Read More</p><img src="" alt="" class="arrow-logo" /></div>
    </div>

    <div class="core-container">
      <img src="" alt="" class="black-logo" />
      <p class="bold-txt">Creative Ideas</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget accumsan augue Donec aliquam.</p>
      <div class="read-more-container"><p class="readmore">Read More</p><img src="" alt="" class="arrow-logo" /></div>
    </div>
  </div>
</section>

<style>
  .our-vision {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    width: 100%;
    padding: 2rem;

    border-radius: 20px;
    margin-bottom: 2rem;
    text-align: left;
  }

  .txt-container {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    justify-self: center;

    padding: 1rem 2rem;
  }

  .img-container img {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;

    border-radius: 10px;
  }

  .sub-txt-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    border-radius: var(--border-radius-hero);
  }

  .sub-txt-container .sub-txt {
    margin: 2rem 4rem;
  }
</style>
