---
const { title, color } = Astro.props;
---

<div data-variant={color}>
  <h2>{title}</h2>
</div>

<style>
  h2 {
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 0.2rem 1rem;
    margin: 1rem 0;
  }

  [data-variant="green"] {
    color: #FFF;

    background-color: #4eaf4e;
    border-radius: var(--border-radius-med);
    max-width: fit-content;
  }

  [data-variant="yellow"] {
    color: var(--color-primary);

    background-color: #ffcc4a;
    border-radius: var(--border-radius-med);
    max-width: fit-content;
  }
</style>
